/* ==============================================================

Project:	xxx - Creative Coming Soon Template
Info:		https://themeforest.net/item/xxx
Version:	1.0
Author:		3F-Team
Profile:	https://themeforest.net/user/3ftheme

-----------------------------------------------------------------
					*** TABLE OF CONTENTS ***
-----------------------------------------------------------------

	1.	Fonts
	2.	General
	3.	xxx
	4.	xxx
	5.	xxx
	6.	xxx
	7.	xxx
	8.	xxx
	8.	xxx
	9.  xxx
	10.	xxx
	11.	xxx
	12.	xxx

=============================================================*/
/*********************
    - 1. Fonts -
*********************/
@font-face {
  font-family: "ProximaNova";
  src: url("fonts/ProximaNova-Regular.eot");
  src: url("fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/ProximaNova-Regular.woff") format("woff"), url("fonts/ProximaNova-Regular.ttf") format("truetype"), url("fonts/ProximaNova-Regular.svg#ProximaNova") format("svg");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "BebasNeue";
  src: url("fonts/BebasNeueRegular.eot");
  src: url("fonts/BebasNeueRegular.eot?#iefix") format("embedded-opentype"), url("fonts/BebasNeueRegular.woff") format("woff"), url("fonts/BebasNeueRegular.ttf") format("truetype"), url("fonts/BebasNeueRegular.svg#BebasNeue") format("svg");
  font-style: normal;
  font-weight: 500;
}

/*********************
    - 2. General -
*********************/
html,
body {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: sans-serif;
}

.list-inline {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.list-inline li {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: middle;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  border: none;
}

.fleft, .float-left {
  float: left;
}

.fright, .float-right {
  float: right;
}

.clear-fix,
.clearfix {
  clear: both;
}

header {
  position: fixed;
  width: 100%;
  z-index: 13;
  top: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
  background-color: #fff;
  border-bottom: 1px solid #4fbbbc;
}

header .logo-img {
  display: inline-block;
  margin: auto;
  width: 48px;
  height: 48px;
  background-image: url("images/logo.svg");
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin-top: 8px;
}

@media screen and (min-width: 769px) {
  header .logo-img {
    position: static;
    margin-left: auto;
    margin-left: 20px;
  }
}

@media screen and (max-width: 466px) {
  header .logo-img {
    position: absolute;
    margin-left: 20px;
  }
}

header nav.right-header a {
  line-height: 64px;
  margin-right: 25px;
  color: #4fbbbc;
  text-transform: uppercase;
  font-size: 14px;
}

header nav.right-header .logout-button {
  background: transparent;
  border: none;
  outline: none;
  color: #4fbbbc;
  line-height: 64px;
  margin-right: 10px;
  text-transform: uppercase;
}

header.active {
  position: relative;
}

#footer {
  padding: 20px 0;
  border-top: 1px solid #cfe2e2;
}

#footer .footer-nav li {
  padding: 10px;
}

#footer .footer-nav a {
  color: #4fbbbc;
  font-size: 14px;
}

#footer .footer-contact {
  margin-top: 20px;
}

#footer .footer-contact li {
  margin: 10px;
  margin-top: 0;
  padding: 0;
}

#footer .footer-contact li a {
  display: inline-block;
  width: 28px;
  height: 28px;
  background: url("images/icon-social.png") center center no-repeat;
  text-indent: -9999px;
}

#footer .footer-contact li a.facebook {
  background-position: 0 0;
}

#footer .footer-contact li a.twitter {
  background-position: -28px 0;
}

#footer .footer-contact li a.pinterest {
  background-position: -56px 0;
}

#footer .footer-contact li a.instagram {
  background-position: -84px 0;
}

#footer p {
  color: #4e5b64;
}

#footer .footer-copyright {
  margin-top: 20px;
  font-size: 14px;
  margin-bottom: 0;
}

body.fancybox-active {
  overflow: hidden;
}

#popup-signin {
  display: none;
  width: 600px;
  padding: 0;
  display: none;
  margin-top: 30px;
  vertical-align: top;
}

#popup-signin .col-xs-12 {
  padding: 0;
}

#popup-signin .container {
  width: 100%;
}

#popup-signin .nav-tabs > li {
  width: 50%;
  text-align: center;
}

#popup-signin .nav-tabs > li.active a {
  background-color: #fff;
}

#popup-signin .nav-tabs > li a {
  background-color: rgba(79, 187, 188, 0.15);
  line-height: 70px;
  padding: 0;
  margin: 0;
}

#popup-signin input {
  width: 100%;
}

#popup-signin .tab-content {
  padding: 2em;
}

#popup-signin .signin-fb input {
  padding: 20px 0;
  background: #3b5998;
  color: #fff;
  border: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 14px;
  font-weight: 500;
  -webkit-appearance: none;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-border-radius: .25em;
  border-radius: .25em;
  margin-bottom: 10px;
}

#popup-signin .forgot a {
  color: #4fbbbc;
}

#popup-signin .signin-button {
  margin-bottom: 20px;
}

#popup-signin .signin-button button {
  padding: 20px 0;
  text-transform: uppercase;
  font-size: 14px;
  background: #4fbbbc;
  color: #fff;
  border: none;
  font-weight: 700;
  width: 100%;
  margin: 0;
  -webkit-border-radius: .25em;
  border-radius: .25em;
  cursor: pointer;
}

#popup-signin .signin-input {
  margin-bottom: 32px;
  position: relative;
}

#popup-signin .signin-input input {
  padding: 16px 20px 16px 50px;
  -webkit-border-radius: .25em;
  border-radius: .25em;
  border: 1px solid #d2d8d8;
}

#popup-signin .signin-input.checker {
  margin-bottom: 0;
}

#popup-signin .signin-input.checker input {
  width: inherit;
}

#popup-signin .signin-input.checker label {
  color: #4fbbbc;
}

#popup-signin .signin-input .icon-input {
  position: absolute;
  top: 20px;
  left: 21px;
}

#popup-signin .signin-input .icon-input i {
  color: #D1DADA;
  font-size: 20px;
}

#popup-signin .signin-input .hide-show {
  position: absolute;
  display: inline-block;
  right: 0;
  padding: 6px 15px;
  border-left: 1px solid #d2d8d8;
  top: 11px;
}

#popup-signin .signin-input .hide-show a {
  text-decoration: none;
  color: #4fbbbc;
}

#popup-signin h2.line {
  font-size: 15pt;
  border-bottom: 1px solid #000;
  line-height: .1em;
  margin: 10px 0 20px;
  position: relative;
  text-align: center;
}

#popup-signin h2.line span {
  background: #fff;
  padding: 0 14px;
  color: #4e5b64;
}

.dib {
  display: inline-block;
}

button {
  outline: none;
}

body {
  position: relative;
  color: #4e5b64;
  font-size: 16px;
}

p {
  font-family: ProximaNova;
}

h1, h2, h3, h4, h5, h6 {
  font-family: BebasNeue;
}

.banner {
  margin-top: 65px;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  color: #fff;
}

.banner .banner-content {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 180px 0 66px;
  min-height: 610px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .banner .banner-content {
    min-height: 400px;
    padding-top: 130px;
  }
}

.banner .banner-content h1 {
  color: #fff;
  font-family: ProximaNova;
}

.date-input .nav-tabs {
  border-bottom: 1px solid transparent;
}

.date-input .nav-tabs li.active a {
  border: 1px solid transparent;
  background-color: rgba(255, 255, 255, 0.6);
  text-shadow: 1px 1px 2px #000;
  display: inline-block;
  padding: 10px 30px;
  color: #fff;
}

.date-input .nav-tabs a {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  padding: 10px 30px;
  border: 1px solid transparent;
  background-color: transparent;
  font-size: 20px;
}

.date-input .nav-tabs a:hover {
  text-decoration: none;
  background-color: transparent;
  border-color: transparent;
  color: #fff;
}

.date-input .tab-content {
  background-color: rgba(255, 255, 255, 0.6);
}

.date-input #Book {
  padding: 20px;
}

.date-input #Book .search-component {
  padding-bottom: 10px;
}

.date-input #book2 {
  padding: 10px 15px;
}

.date-input .place-box__content {
  position: relative;
  z-index: 11;
}

.date-input .place-box__content .field {
  position: relative;
}

.date-input .place-box__content .field .selectize-input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  width: 100%;
  color: #61cae0;
  border: 1px solid #e6e6e6;
  display: inline-block;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 14px;
  height: 40px;
  padding-left: 36px;
}

.date-input .place-box__content .field .selectize-input:after {
  border-color: #61cae0 transparent transparent transparent;
}

.date-input .place-box__content .field .selectize-input input::-webkit-input-placeholder {
  color: #61cae0;
}

.date-input .place-box__content .field .selectize-input input:-moz-placeholder {
  color: #61cae0;
}

.date-input .place-box__content .field .selectize-input input::-moz-placeholder {
  color: #61cae0;
}

.date-input .place-box__content .field .selectize-input input:-ms-input-placeholder {
  color: #61cae0;
}

.date-input .place-box__content .field .selectize-input input::-ms-input-placeholder {
  color: #61cae0;
}

.date-input .place-box__content .field .selectize-input input::placeholder {
  color: #61cae0;
}

.date-input .place-box__content .field .selectize-dropdown [data-selectable].option {
  color: #61cae0;
}

.date-input .place-box__content span.icon.place-box__icon {
  position: absolute;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.date-input .place-box__content span.icon.place-box__icon i {
  color: #61cae0;
}

.date-input .search-box .selectize-input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  width: 100%;
  color: #61cae0;
  border: 1px solid #e6e6e6;
  display: inline-block;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 14px;
  height: 40px;
  padding-left: 36px;
}

.date-input .search-box .selectize-input:after {
  display: none;
}

.date-input .search-box .selectize-input input::-webkit-input-placeholder {
  color: #61cae0;
}

.date-input .search-box .selectize-input input:-moz-placeholder {
  color: #61cae0;
}

.date-input .search-box .selectize-input input::-moz-placeholder {
  color: #61cae0;
}

.date-input .search-box .selectize-input input:-ms-input-placeholder {
  color: #61cae0;
}

.date-input .search-box .selectize-input input::-ms-input-placeholder {
  color: #61cae0;
}

.date-input .search-box .selectize-input input::placeholder {
  color: #61cae0;
}

.date-input .search-box .selectize-dropdown [data-selectable].option {
  color: #61cae0;
}

.date-input .search-suggestion-list.active {
  display: block;
}

.date-input .search-suggestion-list {
  padding: 0;
  display: none;
  position: absolute;
  background-color: #fff;
  width: 100%;
  max-width: 400px;
  list-style-type: none;
  text-align: left;
}

.date-input .search-suggestion-list li {
  color: #61cae0;
  background-color: #fff;
  cursor: pointer;
  width: 100%;
  padding-left: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #003580;
  word-wrap: break-word;
  font-size: 14px;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.date-input .search-suggestion-list li:hover {
  background-color: #61cae0;
}

.date-input .search-suggestion-list li:hover p {
  color: #fff;
}

.date-input .search-suggestion-list li p {
  margin: 0;
}

.date-input .search-suggestion-list a:hover {
  text-decoration: none;
}

.date-input button.search-button {
  background-color: #61cae0;
  border-color: #61cae0;
  width: 100%;
  color: #fff;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  -moz-transition: all .2s ease;
  transition: all .2s ease;
  padding: 8px 16px;
  font-size: 18px;
  line-height: 1.33333;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid transparent;
}

.date-input button.search-button:hover {
  background-color: #4fbbbc;
}

.over-play {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.over-play.active {
  display: block;
}

.date-range-picker {
  background-color: #fff;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.date-range-picker .DateInput {
  width: 43%;
}

.date-range-picker .DateInput .form-group {
  margin-bottom: 0;
  padding: 3px;
}

.date-range-picker .DateInput .input-group-addon {
  display: none;
}

.date-range-picker .DateInput input {
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  color: #61cae0;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 16px;
}

.date-range-picker .DateInput input:focus {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #61cae6;
  color: #fff;
}

.date-range-picker .DateInput input::-webkit-input-placeholder {
  font-size: 16px;
  color: #61cae0;
}

.date-range-picker .DateInput input:-moz-placeholder {
  font-size: 16px;
  color: #61cae0;
}

.date-range-picker .DateInput input::-moz-placeholder {
  font-size: 16px;
  color: #61cae0;
}

.date-range-picker .DateInput input:-ms-input-placeholder {
  font-size: 16px;
  color: #61cae0;
}

.date-range-picker .DateInput input::-ms-input-placeholder {
  font-size: 16px;
  color: #61cae0;
}

.date-range-picker .DateInput input::placeholder {
  font-size: 16px;
  color: #61cae0;
}

.date-range-picker .Date-arrow {
  width: 10%;
  text-align: center;
}

.date-range-picker .Date-arrow i {
  font-size: 20px;
  color: #61cae0;
  line-height: 40px;
}

.datepicker {
  color: #565a5c;
}

.participant {
  background-color: #fff;
  position: relative;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}

@media screen and (max-width: 992px) {
  .participant {
    padding-left: 0px;
    padding-right: 0;
  }
}

.participant__content button.participant-button {
  width: 100%;
  text-align: center;
  background-color: #fff;
  color: #61cae0;
  border: 0;
  font-size: 16px;
  padding: 10px 16px;
  line-height: 1.33333;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}

.participant .over-play {
  display: none;
}

.participant .over-play.active {
  display: block;
}

.participant__list.active {
  display: block;
  z-index: 14;
  padding-top: 10px;
  top: 30px;
}

@media screen and (max-width: 992px) {
  .participant__list.active {
    top: 0;
  }
}

.participant__list {
  display: none;
  position: absolute;
  width: 100%;
  list-style: none;
  padding-left: 0;
  padding: 0 15px;
  margin-left: -15px;
  background: #fff;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}

@media screen and (max-width: 992px) {
  .participant__list {
    position: relative;
    padding: 0;
    margin-left: 0;
  }
}

.participant__list li {
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  color: #000;
  margin-bottom: 21px;
  -webkit-box-shadow: -1px 2px 4px 0 rgba(201, 201, 201, 0.5);
  box-shadow: -1px 2px 4px 0 rgba(201, 201, 201, 0.5);
  line-height: 35px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.participant__list li button {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  background-color: transparent;
  border: 0;
}

.participant__list li span {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

#Enjoy {
  padding: 20px;
}

#Enjoy input {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #4fbbbc;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 10px 20px;
  color: #61cae0;
  outline: 0;
  font-size: 18px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

#Enjoy .search-component {
  padding-bottom: 10px;
}

#Enjoy button.search-button {
  background-color: #4fbbbc;
}

#Enjoy button.search-button:hover {
  background-color: #3c9c9c;
}

.make-better {
  padding-top: 15px;
  color: #fff;
}

@media screen and (max-width: 992px) {
  .make-better .col-sm-4 {
    width: 100%;
  }
}

.make-better__title h1 {
  margin: 0;
  padding: 20px 0;
  color: #003580;
  font-size: 40px;
  font-weight: 500;
}

.make-better .cube {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-position: center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.make-better .cube__content {
  position: absolute;
  top: 48%;
  left: 30%;
}

.make-better .cube__title {
  font-weight: 600;
  margin: 0;
  margin-bottom: 5px;
  font-size: 20px;
  text-transform: uppercase;
}

.make-better .cube__text {
  font-size: 14px;
}

.make-better .cube img {
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  width: 16%;
  vertical-align: middle;
}

.make-better .cube::before {
  content: "";
  padding-top: 100%;
  display: block;
}

.make-better .cube.price {
  background-image: url("images/img-col3.jpg");
}

.make-better .cube.tour-free {
  background-image: url("images/cube-tur.jpg");
}

.make-better .cube.match {
  background-image: url("images/cubemacth.jpg");
}

.make-better button.cube-active {
  text-transform: uppercase;
  color: #fff;
  background-color: #4fbbbc;
  border-color: #4fbbbc;
  outline: none;
  margin-top: 30px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.make-better button.cube-active:hover {
  background-color: #328283;
  border-color: #266465;
}

.nice-places {
  padding-top: 35px;
  padding-bottom: 60px;
}

.nice-places__title {
  font-weight: 600;
  font-size: 40px;
  color: #003580;
  margin: 0;
  padding: 20px 0;
}

.nice-places__sub-title {
  color: #727272;
  font-size: 18px;
  text-align: center;
  padding: 0 0 20px;
  margin: 0;
}

.nice-places .place-content {
  margin: 15px 0;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

.nice-places .place-content:hover::before {
  background-color: rgba(0, 0, 0, 0.4);
}

.nice-places .place-content::before {
  content: "";
  padding-top: 80%;
  display: block;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.nice-places .place-content h6 {
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 25px;
  text-shadow: 1px 1px 2px #000;
  color: #fff;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.nice-places button.cube-active {
  color: #fff;
  background-color: #4fbbbc;
  border-color: #4fbbbc;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  outline: none;
  margin-top: 30px;
}

.nice-places button.cube-active:hover {
  background-color: #328283;
  border-color: #266465;
}

.member {
  padding: 40px 0 60px 0;
  background-color: #f6f6f6;
}

.member__title {
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 30px;
  text-align: center;
  font-size: 40px;
  color: #003580;
  padding: 20px 0;
}

.member h4 {
  color: #4e5b64;
  font-weight: 600;
  text-transform: uppercase;
}

.member button.cube-active {
  color: #fff;
  background-color: #4fbbbc;
  border-color: #4fbbbc;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  outline: none;
  margin-top: 30px;
}

.member button.cube-active:hover {
  background-color: #328283;
  border-color: #266465;
}

.single-banner__img {
  height: 456px;
  background-image: url("images/single-banner.jpg");
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

.header-fixed {
  height: 0;
  overflow: hidden;
  background: #fff;
  width: 100%;
  top: 0;
  z-index: 2;
  border-bottom: 1px solid #e0e7ea;
  opacity: 1;
}

.header-fixed.fixed {
  position: fixed;
  height: 65px;
  top: 0;
  padding: 20px 0 10px;
}

.header-fixed a {
  color: #455058;
  text-decoration: none;
}

@media screen and (max-width: 420px) {
  .header-fixed a {
    font-size: 14px;
  }
}

.header-fixed li {
  margin: 0 20px;
}

@media screen and (max-width: 500px) {
  .header-fixed li {
    margin: 0 10px;
    padding: 0;
  }
}

@media screen and (max-width: 350px) {
  .header-fixed li {
    margin: 0 6px;
    padding: 0;
  }
}

@media screen and (max-width: 992px) {
  .header-fixed nav.menu-fixed {
    text-align: center;
  }
}

.header-fixed li.active a {
  font-weight: 600;
}

.single-page {
  color: #4e5b64;
}

.single-page a {
  font-family: inherit;
  color: #4fbbbc;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
}

.single-page a:hover {
  color: #2d7778;
  text-decoration: none;
}

.info-author {
  z-index: 1;
  position: relative;
  padding-bottom: 20px;
  margin-top: -110px;
}

.info-author__img {
  width: 200px;
  height: 200px;
  display: inline-block;
}

.info-author__img img {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #fff;
  border: 4px solid #fff;
  font-size: 10px;
  width: 100%;
  height: 100%;
}

.info-author__name {
  margin: 0;
  line-height: 42px;
  font-weight: 600;
}

.info-author__name a {
  text-transform: uppercase;
}

.info-author__contact a {
  background: #4fbbbc;
  color: #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 10px;
  text-decoration: none;
  font-weight: 700;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  display: block;
}

.info-author__contact a:hover {
  color: #fff;
}

.info-author__contact a::before {
  margin-right: 15px;
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  background-image: url("images/info-contact.svg");
  -webkit-background-size: 100% 100%;
  -o-background-size: 100%;
  background-size: 100%;
  vertical-align: middle;
}

.info-content__title h2 {
  font-family: ProximaNova;
  font-size: 36px;
  line-height: 48px;
  color: #4fbbbc;
  padding: 10px 0;
  margin: 0;
}

@media screen and (max-width: 1200px) {
  .info-content__title {
    text-align: center;
  }
}

.info-content__sub span {
  background-image: url("images/info-sub-place.png");
  display: inline-block;
  width: 18px;
  height: 24px;
  vertical-align: middle;
  margin-right: 14px;
}

@media screen and (max-width: 1200px) {
  .info-content__sub {
    text-align: center;
  }
}

.special-list {
  margin-left: 0;
  margin-top: 44px;
  padding-left: 40px;
}

.special-list li {
  position: relative;
  font-family: ProximaNova;
  padding-left: 30px;
  line-height: 2em;
  margin-bottom: 20px;
}

.special-list span {
  background-image: url("images/ticker-icon.png");
  width: 18px;
  height: 14px;
  -webkit-background-size: 100% 100%;
  -o-background-size: 100%;
  background-size: 100%;
  left: 0;
  top: 6px;
  margin-right: 14px;
  position: absolute;
}

.book {
  opacity: 1;
  z-index: 3;
  visibility: visible;
  position: static;
  padding: 0 15px 25px;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  border: 1px solid rgba(36, 74, 75, 0.12);
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.11);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.11);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 360px;
  margin-top: -64px;
  background: #fff;
}

.book i.fas.fa-times {
  display: none;
  position: absolute;
  left: 5px;
  top: 5px;
}

@media screen and (max-width: 992px) {
  .book i.fas.fa-times {
    display: block;
  }
}

@media screen and (max-width: 1024px) {
  .book {
    width: 300px;
  }
}

@media screen and (max-width: 992px) {
  .book {
    overflow: scroll;
    height: 100vh;
    right: 10px;
  }
}

@media screen and (max-width: 480px) {
  .book {
    width: 275px;
  }
}

.book.fixed {
  position: fixed;
  top: 64px;
}

.book .price-info {
  border-bottom: 1px solid #d3e3ea;
  padding: 12px 15px 5px;
  height: 64px;
}

.book .price-info span {
  font-size: 22px;
  color: #4fbbbc;
  line-height: 1.8em;
}

.book .price-info span i {
  font-size: 16px;
  margin-left: 5px;
}

#booking-form {
  padding-top: 30px;
}

#booking-form .input-group .form-control:first-child {
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#booking-form label {
  display: block;
  color: #4fbbbc;
  padding-top: 0px;
}

#booking-form input {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
  padding: 8px 20px;
  border: 1px solid #4fbbbc;
  color: #4fbbbc;
  outline: none;
}

#booking-form input.submit {
  padding: 9px 15px;
  cursor: pointer;
  font-size: 14px;
  line-height: 2.28571;
  display: block;
  margin-top: 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(4%, #F78F30), color-stop(97%, #E86B1A));
  background-image: -webkit-linear-gradient(top, #F78F30 4%, #E86B1A 97%);
  background-image: -moz-linear-gradient(top, #F78F30 4%, #E86B1A 97%);
  background-image: -o-linear-gradient(top, #F78F30 4%, #E86B1A 97%);
  background-image: linear-gradient(-180deg, #F78F30 4%, #E86B1A 97%);
  border: 1px solid #e26311;
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5), inset 0 3px 0 0 #faa455;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5), inset 0 3px 0 0 #faa455;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
}

#booking-form .date-range-picker input:focus {
  color: #fff;
}

#booking-form .search-component {
  margin-bottom: 30px;
}

.tour-information__title {
  border-top: 1px solid #cedede;
  margin-bottom: 0;
  line-height: 2.5em;
}

.tour-information__info.left {
  padding: 0 45px;
  padding-left: 15px;
}

.tour-information__info.right {
  padding: 0 45px;
  padding-right: 15px;
}

.tour-information__info p, .tour-information__info a {
  font-size: 14px;
}

.tour-information__info .item {
  padding: 10px 0;
  border-bottom: 1px solid #d6e4ea;
}

.tour-information__info .item:first-child {
  border-top: 1px solid #d6e4ea;
}

.itinerary {
  padding-top: 20px;
  padding-bottom: 20px;
}

.itinerary .step {
  margin-bottom: 20px;
}

.itinerary .step__title {
  font-size: 24px;
  color: #37525f;
  line-height: 1.5em;
  text-align: left;
  display: block;
  margin: 0;
  font-weight: 600;
}

.itinerary .step__content {
  line-height: 2em;
}

.review {
  padding-bottom: 0;
  padding-top: 20px;
  margin-bottom: 30px;
  border-bottom: 0;
}

.review__title {
  margin-top: 20px;
  margin-bottom: 15px;
  line-height: 1.3em;
  font-weight: 600;
  font-size: 25px;
  display: block;
}

.review .review-wrap {
  padding: 30px 0;
  border-bottom: 1px solid #4fbbbc;
}

.review .review-wrap figure {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
}

.review .review-wrap main {
  padding: 0 15px;
  display: inline-block;
  width: -webkit-calc(100% - 150px);
  width: -moz-calc(100% - 150px);
  width: calc(100% - 150px);
}

@media screen and (max-width: 768px) {
  .review .review-wrap main {
    width: 100%;
    text-align: justify;
  }
}

.review .review-wrap main span {
  color: #0c80ff;
}

.review .review-wrap main ul {
  display: inline-block;
  color: #f3d900;
}

.review .review-wrap main ul li {
  padding: 0;
}

.how-work {
  padding-top: 20px;
  border-top: 1px solid #cedede;
  padding-bottom: 20px;
}

a.book-bottom__act {
  padding: 9px 15px;
  cursor: pointer;
  font-size: 14px;
  line-height: 2.28571;
  display: block;
  margin-top: 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(4%, #F78F30), color-stop(97%, #E86B1A));
  background-image: -webkit-linear-gradient(top, #F78F30 4%, #E86B1A 97%);
  background-image: -moz-linear-gradient(top, #F78F30 4%, #E86B1A 97%);
  background-image: -o-linear-gradient(top, #F78F30 4%, #E86B1A 97%);
  background-image: linear-gradient(-180deg, #F78F30 4%, #E86B1A 97%);
  border: 1px solid #e26311;
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5), inset 0 3px 0 0 #faa455;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5), inset 0 3px 0 0 #faa455;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  display: none;
  position: fixed;
  left: 50%;
  z-index: 1000;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 0;
  text-align: center;
  width: 143px;
}

@media screen and (max-width: 992px) {
  a.book-bottom__act {
    display: block;
  }
}

#popup-book.popup-book {
  display: none;
  padding-top: 0;
  width: 100%;
  height: 100%;
}

#popup-book.popup-book .book {
  display: block;
  margin-top: 0;
  width: 100%;
}

input[name="people"] {
  display: none;
}

span.btn-requestmobile {
  position: fixed;
  z-index: 2;
  color: #fff;
  width: 63px;
  text-align: center;
  font-size: 12px;
  height: 85px;
  top: 45px;
  left: 15px;
  display: none;
  padding: 3px 2px;
  cursor: pointer;
  line-height: 2.28571;
  margin-top: 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(4%, #F78F30), color-stop(97%, #E86B1A));
  background-image: -webkit-linear-gradient(top, #F78F30 4%, #E86B1A 97%);
  background-image: -moz-linear-gradient(top, #F78F30 4%, #E86B1A 97%);
  background-image: -o-linear-gradient(top, #F78F30 4%, #E86B1A 97%);
  background-image: linear-gradient(-180deg, #F78F30 4%, #E86B1A 97%);
  border: 1px solid #e26311;
}

#votingform {
  padding: 15px 0;
}

#votingform input[name='getValStar'] {
  display: none;
}

#votingform .br-wrapper {
  display: inline-block;
  vertical-align: middle;
}

#votingform button {
  margin-left: 15px;
  padding: 3px 8px;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  line-height: 2.28571;
  border: none;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(4%, #ffe566), color-stop(97%, #edb867));
  background-image: -webkit-linear-gradient(top, #ffe566 4%, #edb867 97%);
  background-image: -moz-linear-gradient(top, #ffe566 4%, #edb867 97%);
  background-image: -o-linear-gradient(top, #ffe566 4%, #edb867 97%);
  background-image: linear-gradient(-180deg, #ffe566 4%, #edb867 97%);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
}

.leavecomment {
  padding: 15px 0;
}

.leavecomment textarea {
  padding: 5px;
  width: 100%;
  margin: 5px 0;
  outline: none;
  resize: none;
  border: 1px solid #4fbbbc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.leavecomment #comment button {
  padding: 9px 15px;
  cursor: pointer;
  font-size: 14px;
  line-height: 2.28571;
  margin-top: 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(4%, #4fbbbc), color-stop(97%, #0055ff));
  background-image: -webkit-linear-gradient(top, #4fbbbc 4%, #0055ff 97%);
  background-image: -moz-linear-gradient(top, #4fbbbc 4%, #0055ff 97%);
  background-image: -o-linear-gradient(top, #4fbbbc 4%, #0055ff 97%);
  background-image: linear-gradient(-180deg, #4fbbbc 4%, #0055ff 97%);
  border: 1px solid #4fbbbc;
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5), inset 0 3px 0 0 #4fbbbc;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5), inset 0 3px 0 0 #4fbbbc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
}

header {
  z-index: 800;
}

.page2-content {
  background-color: #f8f8ff;
  border-bottom: 1px solid #ccc;
  padding-top: 82px;
}

.page2-content__title h3 {
  margin: 0px;
  font-size: 36px;
  color: #003580;
  padding: 30px 0px 20px 20px;
  font-family: BebasNeue, sans-serif !important;
  margin-bottom: 8px;
}

.page2-content__menu {
  padding: 20px 0;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 50px;
  -webkit-box-shadow: 0 0 4px #999;
  box-shadow: 0 0 4px #999;
}

@media screen and (max-width: 420px) {
  .page2-content__menu {
    padding: 0px;
  }
}

.page2-content__menu ul {
  line-height: 1.5;
  font-size: 0;
}

@media screen and (max-width: 420px) {
  .page2-content__menu ul li {
    display: block;
    width: 100% !important;
    margin: 0px;
    border-bottom: 1px solid #ddd;
    padding: 3px 0px;
  }
  .page2-content__menu ul li:after {
    display: none;
  }
  .page2-content__menu ul li:last-child {
    border-color: transparent;
  }
}

.page2-content__menu ul li {
  position: relative;
  width: 33.333%;
  text-align: center;
}

.page2-content__menu ul li:after {
  content: '';
  border: .5px solid #003580;
  width: 1px;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}

.page2-content__menu ul li:last-child:after {
  display: none;
}

.page2-content__menu ul a {
  display: block;
  color: #003580;
  display: inline-block;
  width: 100%;
  font-weight: 700;
  line-height: 2em;
  font-size: 16px;
}

.page2-content__menu ul .sort-active {
  color: #b80;
}

.page2-content__menu ul .sort-active::before {
  content: '\f160';
  font-family: "Font Awesome 5 Free";
  margin-right: 5px;
}

.page2-content__list-item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px 10px;
}

.page2-content__page-number {
  padding: 20px 0px;
  text-align: center;
  margin-bottom: 15px;
}

.page2-content__page-number ul {
  font-size: 0;
  line-height: 26px;
}

.page2-content__page-number li {
  font-size: 18px;
  padding: 0px;
  vertical-align: middle;
}

.page2-content__page-number li i {
  vertical-align: inherit;
}

@media screen and (max-width: 420px) {
  .page2-content__page-number li:nth-child(3), .page2-content__page-number li:nth-child(4), .page2-content__page-number li:nth-child(5) {
    display: none;
  }
}

.page2-content__page-number li:first-child {
  border: 2px solid #61cae0;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-right: 15px;
  width: 35px;
  height: 35px;
  line-height: 28px;
  padding: 2px 0px;
}

.page2-content__page-number li:last-child {
  border: 2px solid #61cae0;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-left: 15px;
  padding: 2px 1px;
  width: 35px;
  height: 35px;
  line-height: 28px;
}

.page2-content__page-number li a {
  padding: 4px 10px;
  color: #61cae0;
  font-size: 18px;
}

.page2-content__page-number li a:hover {
  font-weight: 700;
  text-decoration: underline;
}

.page2-content .page-active {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #61cae0;
  color: #fff;
}

.hotelcard {
  color: #000;
}

.hotelcard .thumb, .hotelcard .info-wrap {
  width: 50%;
  float: left;
  overflow: hidden;
}

.hotelcard .title {
  text-transform: uppercase;
  color: #61cae0;
  font-size: 18px;
  margin-bottom: 5px;
  font-weight: 700;
}

.item-content {
  z-index: 600;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 2px 4px #999;
  box-shadow: 0 2px 4px #999;
  -webkit-border-bottom-left-radius: 15px;
  border-bottom-left-radius: 15px;
  -webkit-border-top-left-radius: 15px;
  border-top-left-radius: 15px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .item-content {
    -webkit-border-top-left-radius: 15px;
    border-top-left-radius: 15px;
    -webkit-border-top-right-radius: 15px;
    border-top-right-radius: 15px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}

.item-content .views {
  font-size: 14px;
}

.item-content .views i {
  font-size: 23px;
  vertical-align: middle;
  color: #4b9c32;
}

.item-content .views span {
  margin-left: 10px;
  display: inline;
  padding: 5px;
  background-color: #5cb85c;
  color: #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.item-content .item-img {
  overflow: hidden;
  -webkit-border-bottom-left-radius: 15px;
  border-bottom-left-radius: 15px;
  -webkit-border-top-left-radius: 15px;
  border-top-left-radius: 15px;
}

@media screen and (max-width: 767px) {
  .item-content .item-img {
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-border-top-left-radius: 15px;
    border-top-left-radius: 15px;
    -webkit-border-top-right-radius: 15px;
    border-top-right-radius: 15px;
  }
}

.item-content .item-img img {
  width: 100%;
}

.item-content .item-text {
  padding: 10px 0px;
}

@media screen and (max-width: 767px) {
  .item-content .item-text {
    padding: 10px 20px;
  }
}

.item-content .item-text .reviewscore-wrap .reviewscore {
  font-size: 20px;
  font-weight: 700;
  color: #b80;
}

.item-content .item-text .reviewscore-wrap span.reviewscore-value {
  background-color: #003580;
  color: #fff;
  display: inline-block;
  padding: 0 8px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-left: 10px;
  vertical-align: middle;
  font-size: 18px;
}

.item-content h4 {
  font-size: 18px;
  text-transform: uppercase;
  color: #61cae0;
  margin: 0px 0px 5px;
  font-weight: 700;
  font-family: 'ProximaNova',sans-serif;
}

.item-content ul li {
  padding: 0px;
  margin: 0px;
}

.item-content ul li i {
  color: #ffcd27;
}

.item-content p {
  color: #292b2c;
  line-height: 25px;
  font-size: 14px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 5px;
}

.item-content p span {
  vertical-align: middle;
}

.item-content p i {
  font-size: 12px;
  display: inline-block;
  margin-right: 5px;
  line-height: 22px;
  margin-left: 3px;
}

.item-content .btn {
  line-height: 24px;
  background: #61cae0;
  border-color: #61cae0;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  -moz-transition: 0.3s all;
  transition: 0.3s all;
  color: #fff;
  font-size: 16px;
}

.item-content .btn:hover, .item-content .btn:focus {
  color: #fff;
  background-color: #025aa5;
  background-image: none;
  border-color: #01549b;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  -moz-transition: 0.3s all;
  transition: 0.3s all;
}

.item-content .hotel-card {
  color: #fff;
  padding: 6px 10px;
  font-weight: 300;
  -webkit-border-bottom-right-radius: 15px;
  border-bottom-right-radius: 15px;
  -webkit-border-top-left-radius: 15px;
  border-top-left-radius: 15px;
  -webkit-box-shadow: 0 1px 4px #000;
  box-shadow: 0 1px 4px #000;
  background: #61cae0;
  line-height: 0px;
  vertical-align: text-bottom;
  position: absolute;
  top: 10px;
  left: -10px;
}

.item-content .hotel-card p {
  margin: 0px;
  color: #fff;
  font-size: 16px;
  display: inline-block;
}

.item-content .hotel-card:after {
  content: '';
  border-width: 10px;
  border-color: #277b94 transparent transparent;
  position: absolute;
  left: -1px;
  top: 37px;
  border-style: solid;
  z-index: -1;
}

/*# sourceMappingURL=style.css.map */
